# In backend/requirements.txt

# Django Core
Django
djangorestframework

# LLM & Vector Database
ollama
faiss-cpu
numpy
tqdm
networkx

# Web Scraping (Legacy, but keep for now)
requests
beautifulsoup4

# GitHub API Client
PyGithub

# --- loading .env files ---
python-dotenv

# --- The Conductor CLI ---
typer[all]
rich
prompt-toolkit

# --- The Crucible service ---
docker

# --- Google Gemini API ---
google-generativeai

#  --- The Polyglot Cartographer ---
tree_sitter==0.20.1
